.headerBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.headerLink {
    float: left;
}

.headerLink a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headerLink a:hover {
    background-color: #111;
}

#areaMap {
    height: 400px;
    width: 100%;
}

.pull-down {
    display: flex;
    align-items: flex-end;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.half-vertical {
    top: 50%;
    position: fixed;
}

.chat-box {
  height: 500px;
  background-color: #f2f2f2;
  overflow-y: scroll;
}

.sign-in-page {
    background-image: url("../FallCentralCampusOily.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.sign-in-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +60%);
    height: 25%;
    width: 100%;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar {
    margin: 10px;
}
.search-result {
    margin: 15px;
}

.rbc-calendar {
    flex: 1;
    min-height: 400px;
}

.calendar-container{
    height: 500px;
}