.headerBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.headerLink {
    float: left;
}

.headerLink a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headerLink a:hover {
    background-color: #111;
}

#areaMap {
    height: 400px;
    width: 100%;
}

.pull-down {
    display: flex;
    align-items: flex-end;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.chat-box {
  height: 500px;
  background-color: #f2f2f2;
  overflow-y: scroll;
}
