.headerBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.headerLink {
    float: left;
}

.headerLink a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headerLink a:hover {
    background-color: #111;
}

#areaMap {
    height: 400px;
    width: 100%;
}

.pull-down {
    display: flex;
    align-items: flex-end;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.half-vertical {
    top: 50%;
    position: fixed;
}

.chat-box {
    height: 500px;
    background-color: #f2f2f2;
    overflow-y: scroll;
}

.sign-in-page {
    background-image: url("../FallCentralCampusOily.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.sign-in-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +60%);
    height: 25%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar {
    margin: 10px;
}
.search-result {
    margin: 15px;
}

.rbc-calendar {
    flex: 1;
    min-height: 400px;
}

.calendar-container{
    height: 500px;
}

.padded-top {
    padding-top: 60px;
}

.white-text {
    color: white;
}

.transparent-black-background {
    background: rgba(0,0,0,0.7);
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.center-text {
    text-align: center;
}

.sidebar-well {
    min-height: 20px;
    padding: 9px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.sidebar {
    position: fixed;
    width: 25%;
    max-width: 25%;
    left: 75%;
    right: 0%;
    top: 55px;
    bottom: 0vh;
    overflow-y: scroll;
}

.sidebar-row {
    padding-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.media-image {
    height: 64px;
    width: 64px;
    border: 1px solid black;
    border-radius: 3px;
}